<p style="color: Red"><%= @error %></p>

<%= form_tag action: :auth do %>
    <div class="form-group">
        <%= label_tag :username, 'ユーザー名' %>
        <%= text_field_tag :username, '', size: 20, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= label_tag :password, 'パスワード' %>
        <%= password_field_tag :password, '', size: 20, class: 'form-control' %>
    </div>

    <%= hidden_field_tag :referer , flash[:referer] %>
    <%= submit_tag 'ログイン', class: 'btn btn-default' %>
<% end %>
