<%= form_with(model: game_info, local: true) do |form| %>
  <% if game_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_info.errors.count, "error") %> prohibited this game_info from being saved:</h2>

      <ul>
      <% game_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-xs-6">

  <div class="form-group">
    <%= form.label :top1, '1回オモテ' %>
    <%= form.number_field :top1, id: :game_info_top1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top2, '2回オモテ' %>
    <%= form.number_field :top2, id: :game_info_top2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top3, '3回オモテ' %>
    <%= form.number_field :top3, id: :game_info_top3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top4, '4回オモテ' %>
    <%= form.number_field :top4, id: :game_info_top4, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top5, '5回オモテ' %>
    <%= form.number_field :top5, id: :game_info_top5, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top6, '6回オモテ' %>
    <%= form.number_field :top6, id: :game_info_top6, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top7, '7回オモテ' %>
    <%= form.number_field :top7, id: :game_info_top7, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top8, '8回オモテ' %>
    <%= form.number_field :top8, id: :game_info_top8, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top9, '9回オモテ' %>
    <%= form.number_field :top9, id: :game_info_top9, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top10, '10回オモテ' %>
    <%= form.number_field :top10, id: :game_info_top10, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top11, '11回オモテ' %>
    <%= form.number_field :top11, id: :game_info_top11, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :top12, '12回オモテ' %>
    <%= form.number_field :top12, id: :game_info_top12, class: 'form-control' %>
  </div>

  </div>
  <div class="col-xs-6">

  <div class="form-group">
    <%= form.label :bottom1, '1回ウラ' %>
    <%= form.number_field :bottom1, id: :game_info_bottom1, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom2, '2回ウラ' %>
    <%= form.number_field :bottom2, id: :game_info_bottom2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom3, '3回ウラ' %>
    <%= form.number_field :bottom3, id: :game_info_bottom3, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom4, '4回ウラ' %>
    <%= form.number_field :bottom4, id: :game_info_bottom4, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom5, '5回ウラ' %>
    <%= form.number_field :bottom5, id: :game_info_bottom5, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom6, '6回ウラ' %>
    <%= form.number_field :bottom6, id: :game_info_bottom6, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom7, '7回ウラ' %>
    <%= form.number_field :bottom7, id: :game_info_bottom7, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom8, '8回ウラ' %>
    <%= form.number_field :bottom8, id: :game_info_bottom8, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom9, '9回ウラ' %>
    <%= form.number_field :bottom9, id: :game_info_bottom9, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom10, '10回ウラ' %>
    <%= form.number_field :bottom10, id: :game_info_bottom10, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom11, '11回ウラ' %>
    <%= form.number_field :bottom11, id: :game_info_bottom11, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :bottom12, '12回ウラ' %>
    <%= form.number_field :bottom12, id: :game_info_bottom12, class: 'form-control' %>
  </div>

  </div>
  </div>

  <div class="form-group">
    <%= form.label :updatable, '試合終了フラグ' %>
    <%= form.check_box :updatable, id: :game_info_updatable, class: 'checkbox' %>
  </div>

  <div class="form-group">
    <%= form.submit '情報送信', data:{disable_with: '処理中…'}, class: 'btn btn-default' %>
  </div>
<% end %>
