<% game_infos.each do |game_info| %>
  <table class="table" style="margin-bottom: 0">
    <tr>
      <td>
        <%= link_to game_info do %>
          <div class="row">
            <div class="col-xs-12 text-left">
              <%= game_info.date %>
            </div>
          </div>
          <% vs = " - " %>
          <div class="row">
            <div class="col-xs-5 text-right" style="padding: 5px">
              <%= game_info.batting_first_team %>
            </div>
            <div class="col-xs-2 text-center" style="padding: 5px">
              <%= sum_top = game_info.get_sum_top %>
              <%= vs %>
              <%= sum_bottom = game_info.get_sum_bottom %><%= game_info.get_x_index(sum_top,sum_bottom) %>
            </div>
            <div class="col-xs-5 text-left" style="padding: 5px">
              <%= game_info.field_first_team %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <%= game_info.get_gameset_msg %>
            </div>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
  <% if session[:usr] %>
    <div align="right">
      <%= link_to '編集', edit_game_info_path(game_info), class: 'btn btn-default' %>
      <%= link_to '得点', score_game_info_path(game_info), class: 'btn btn-default' %>
      <%= link_to '削除', game_info, method: :delete, data: { confirm: '削除してよろしいですか？' }, class: 'btn btn-default' %>
      <br>
      <br>
    </div>
  <% end %>
<% end %>
<%= paginate game_infos %>



