<p style="margin-top: 10px">このたびの平成30年北海道胆振東部地震により、被災された皆様に謹んでお見舞い申し上げます。
<br>
1部リーグの第2節の日程が大きく変わっております。詳しくは連盟ホームページをご覧ください。
</p>

<p id="notice"><%= notice %></p>

    <%= form_tag({ controller: :game_infos, action: :find_league },
      id: :fm, class: :search) do %>
      <div class="form-group">
      <label for="keyleague" style="font-weight: normal;">リーグ戦選択</label>
      <%= select_tag :keyleague, options_for_select(['2018秋季1部', '2018秋季2部', '2018秋季3部', '2018秋季入替戦']), {include_blank: '選択してください', class: 'form-control' } %>
      </div>
      <%= submit_tag '絞り込み', class: 'btn btn-default' %>
    <% end %>

    <br>

<%= render 'index', game_infos: @game_infos %>

<br>

<% if session[:usr] %>
  <%= link_to '新規作成', new_game_info_path, class: 'btn btn-default' %>
  <br>
  <br>
  <%= form_tag action: :logout do %>
    <%= submit_tag 'ログアウト', class: 'btn btn-default' %>
  <% end %>
<% end %>

